body {
  font-family: "Times New Roman", serif;
  background-color: #EEE;
  margin: 20px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding:0 10px;
}

h1,h2,h3 {
  line-height:1.2;
}

.banner {
  font-size: 16px;
  background-color: #ffd;
  border-radius: 6px;
  padding: 5px 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.subtitle {
  font-size: x-large;
}

.scenario > h3, .scenario a {
  text-align: center;
  text-decoration: underline;
  display: block;
}

.scenario ul {
  margin-top: 0;
}

.scenario p {
  margin-bottom: 0;
}
