<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link type="text/css" href="/assets/css/my_little_stylesheet.css" media="all" rel="stylesheet">
    <title>My Little Cable Co. | Build your own TV service!</title>
    <meta property="og:description" content="Resources for creating your own private cable TV service.">
  </head>
  <body>
    <div class="header">
      <a href="/"><img class="logo" src="/assets/img/logo-100.png"></a>
      <span class="subtitle">Finally, a cable company you <em>don't</em> hate!</span>
    </div>
    <hr>
    <nav>
      <a href="/#what">What</a>
      <a href="/#why">Why</a>
      <a href="/#how">How</a>
      <a href="/glossary">Glossary</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
    <div class="container">
      <div class="banner">
        NOTE: It's early days for this website, so there is probably a good bit of detail missing. New information will be added gradually, so please check back.
      </div>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <hr>
    <div class="footer">
      <em>My Little Cable Co.</em>
    </div>
  </body>
</html>
